##### Windows
# Executable file
mechanismsynthesis.exe

# Files built by Visual Studio
*.ilk
*.obj
*.pdb

# Visual Studio cache/options directory
.vs/

##### MacOS
# Executable file
mechanismsynthesis.out

# General
.DS_Store

# Debug files
*.dSYM/
